---
layout: default
---

<div class="home-2col">
  <aside class="sidebar">
    <div class="profile-box">
      <img src="/assets/images/posts/2025-07-03-수치의중요성/marqvision프로필.png" alt="프로필 이미지" class="profile-img">
      <h2 class="profile-name">mkk4726</h2>
      <p class="profile-desc">AI/데이터/개발에 관심 많은 성장형 개발자.<br>꾸준히 배우고 기록합니다.</p>
    </div>
    <div class="intro-box">
      {{ content }}
    </div>
    <div class="views-summary">
      <div class="views-total">
        <span>종합 뷰</span>
        <span id="total-views" class="views-count">-</span>
      </div>
      <div class="views-today">
        <span>오늘 뷰</span>
        <span id="today-views" class="views-count">-</span>
      </div>
    </div>
  </aside>
  <section class="main-content">
    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <div class="post-meta">
            {% include views-counter.html post=post %}
          </div>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
  </section>
</div> 